body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
}

nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}

section{
    width: 100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.container .box
{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
}
.container .box:hover
{
   z-index: 1;
   transform: scale(1.25);
   box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.container .box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .imgBx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgb(255, 0, 242),rgba(0, 0, 0, 0.459));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover .imgBx:before
{
    opacity: 1;
}

.container .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.container .box .content h2
{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.container .box:hover .content h2
{
    transform: translateY(0);
    transition-delay: 0.6s;
}
.container .box .content p
{
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}
.container .box:hover .content p
{
    transform: translateY(0);
    transition-delay: 0.7s;
}
