body{
        margin: 0;
        padding: 0;
        font-family: Arial;
    }
    
    nav{
        position: fixed;
        top:0%;
        left: 0%;
        width: 100%;
        height: 100px;
        padding: 10px 90px;
        box-sizing: border-box;
        background: rgba(0,0,0,0.6);
        border-bottom: 1px solid #fff;
    }
    
    nav .logo{
        padding: 22px 20px;
        height: 80px;
        float: left;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
    
    nav ul{
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li a{
        line-height: 80px;
        color: #fff;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    nav ul li a:hover{
        background: rgba(0,0,0,0.7);
        border-radius: 6px;
    }
    
    section{
        width: 100%;
        height: 100vh;
    }

    *
    {
        margin: 0;
        padding: 0;
        box-sizing:border-box; 
    }
    body
    {
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background: #000;
    }
.box p
{
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
}
    .box
    {
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
    }
    @keyframes animate
    {
        0%
        {
            transform: perspective(1000px) rotateY(0deg);
        }
        100%
        {
            transform: perspective(1000px) rotateY(360deg);
        }
    }
    .box span
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
    }
    .box span img
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }